<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sissi.activitytest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity1"> <!--name是唯一必须的属性，而且发布后不应更改（清单文件中的内容发布后都不应该更改，可以扩展）  -->
            <intent-filter
                android:icon="@drawable/act1_if_ico"
                android:label="@string/if1_label"
                android:priority="999"> <!--todo 还有更多属性　-->
                <action android:name="android.intent.action.MAIN" />

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>
    </application>

</manifest>